# While 반복문

In [ ]:
while 불 표현식: ### 조건식, True가 조건식을 작성
    문장

## for 반복문처럼 사용

In [2]:
i = 0
while i < 10:
    print('{}번째 반복입니다.'.format(i))
    i += 1

print(i)

0번째 반복입니다.
1번째 반복입니다.
2번째 반복입니다.
3번째 반복입니다.
4번째 반복입니다.
5번째 반복입니다.
6번째 반복입니다.
7번째 반복입니다.
8번째 반복입니다.
9번째 반복입니다.
10

## 상태를 기반으로 반복

In [15]:
list_test = [1, 1]
value = 2 

value in list_test

False

In [14]:
list_test.remove(value)
list_test

[1, 1]

In [3]:
list_test = [1, 2, 1, 2]
value = 2 

while value in list_test:
    list_test.remove(value)

print(list_test)

[1, 1]

## 시간을 기반으로 반복하기

In [19]:
import time

print(time.time())
target_tick = time.time() + 5
print(target_tick)

1719538083.6255116
1719538088.6255116

In [17]:
number = 0

# 5초 동안 반복
target_tick = time.time() + 5
while time.time() < target_tick:
    number += 1
number

32206102

## break와 continue문

In [20]:
numbers = [5, 15, 6, 20, 7, 25]

for number in numbers:
    print(number)
    break

5

In [23]:
numbers = [5, 6, 7, 10, 15, 25]

for number in numbers:
    print(number)
    if number > 10:
        break

5
6
7
10
15

In [24]:
numbers = [5, 6, 7, 10, 15, 25]

for number in numbers:
    if number > 10:
        break
    print(number)

5
6
7
10

In [25]:
numbers = [5, 15, 7, 10, 8, 25]

for number in numbers:
    if number < 10:
        continue
    print(number)

15
10
25

# 함수 만들기
- 공식문서 보실 때 필수 확인사항 2가지
    + 매개변수 입력 방법(or 자료형)
    + 반환값, 반환되는 자료형의 형태(int, str, array, list, DataFrame, etc)

In [26]:
text = "안녕하세요"
len(text)

5

a함수 ==> 리스트 ==> 문자열 변경

b함수 매개변수 문자열

In [28]:
def add(a, b):
    """
    Add two numbers.

    Args:
        a (int or float): The first number.
        b (int or float): The second number.

    Returns:
        int or float: The sum of the two numbers.

    Examples:
        >>> add(1, 2)
        3
        >>> add(3.5, 2.5)
        6.0
    """
    return a + b

# Example usage
print(add(1, 2))

3

In [30]:
print(add.__doc__)

    Add two numbers.

    Args:
        a (int or float): The first number.
        b (int or float): The second number.

    Returns:
        int or float: The sum of the two numbers.

    Examples:
        >>> add(1, 2)
        3
        >>> add(3.5, 2.5)
        6.0

## 에러 유형 확인

In [31]:
def print_n_times(value, n):
    for i in range(n):
        print(value)

print_n_times("안녕하세요", 5)

안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요

In [32]:
def print_n_times(value, n):
    for i in range(n):
        print(value)

print_n_times("안녕하세요")

TypeError: print_n_times() missing 1 required positional argument: 'n'

In [33]:
def print_n_times(value, n):
    for i in range(n):
        print(value)

print_n_times("안녕하세요", 10, 20)

TypeError: print_n_times() takes 2 positional arguments but 3 were given

## 가변 매개변수
- *를 매개변수에 추가

In [37]:
def print_n_times(n, *values):
    for i in range(n):
        for value in values:
            print(value)
        print()

In [46]:
def add_many(*nums):
    result = 0
    print(type(nums))
    for num in nums:
        result += num 

    return result 

add_many(1, 2, 3, 4)

<class 'tuple'>

10

## 키워드 매개변수 **kwargs
- 매개변수 앞에 ** 두개 붙인 케이스

In [42]:
def print_kwargs(**kwargs):

    # 이 메서드에는 return 값이 없음 
    print(kwargs) # 어떻게 출력이 될까?

In [44]:
print_kwargs(a = 1, b = [1, 2, 3])

{'a': 1, 'b': [1, 2, 3]}

In [57]:
def test1(a, b = 10, c = 100):

    # 값을 전달할 필요가 없고, 단순 확인용도로만 함수를 만들고 싶으면 print()
    print(a + b + c)

# test1(1)
result = test1(1)
result

111

In [58]:
def test2(a, b = 10, c = 100):

    # 값을 전달해야만 할 때는 return 값을 지정
    return a + b + c

result = test2(1)
result

111

## why 클래스? 

- 함수, 반복문만 적절하게 사용해도 큰 문제 안됨
- why 클래스?
  + 한줄로 요약 : 자동화 / 많은 사람들이 사용할 수 있도록 배포

In [59]:
result = 0

def add(num):
    global result # 전역변수 
    result += num # 결괏값에 입력값 num 더하기
    return result 

print(add(3))
print(add(4))

3
7

In [67]:
result1 = 0
result2 = 0 
result3 = 0

def add1(num):
    global result1 # 전역변수 
    result1 += num # 결괏값에 입력값 num 더하기
    return result1

def sub1(num):
    global result1
    result1 -= num
    return result1

def add2(num):
    global result2 # 전역변수 
    result2 += num # 결괏값에 입력값 num 더하기
    return result2

def add2(num):
    global result2 # 전역변수 
    result2 += num # 결괏값에 입력값 num 더하기
    return result2

print(add1(3)) # 첫번째 사람
print(add2(5)) # 두번째 사람
print(add1(4)) # 첫번째 사람
print(add2(4)) # 두번째 사람


print(sub1(100))

3
5
7
9
-93

In [64]:
result3 = 0

def add3(num):
    global result3 # 전역변수 
    result3 += num # 결괏값에 입력값 num 더하기
    return result3

print(add3(4)) # 세번째 사람
print(add3(5)) # 세번째 사람

4
9

## 클래스 만들기

In [69]:
class Calculator:
    def __init__(self):
        self.result = 0

    def add(self, num):
        self.result += num
        return self.result

    # 새롭게 추가가 된 메서드 ==> 업데이트
    def sub(self, num):
        self.result -= num
        return self.result

# 사용자1
cal1 = Calculator() # 첫번째 사용자
cal2 = Calculator() # 두번째 사용자 
cal3 = Calculator() # 세번째 사용자

print(cal1.add(3))
print(cal1.add(4))
print(cal2.add(5))
print(cal2.add(4))
print(cal2.sub(100))

3
7
5
9
-91

In [70]:
class StudentGrade: # CamelCase로 이름 명명
    pass

In [ ]:
인스턴스 이름(=변수 이름) = 클래스 이름() --> 생성자 함수

In [ ]:
class Student:
    pass

# 학생을 선언합니다. 
희교 = Student() ## 하나의 의미있는 객체 
성민 = Student() ## 하나의 의미있는 객체 
승훈 = Student() ## 하나의 의미있는 객체

In [93]:
class Student:
    # 상태
    def __init__(self, name, korean, math, english, science):
        self.name = name             
        self.korean = korean          # 87
        self.math = math              # 98
        self.english = english        # 88 
        self.science = science        # 95
    
    # 행동
    def get_sum(self):
        return self.korean + self.math + self.english + self.science

    def get_average(self):
        return self.get_sum() / 4
        
    def get_grade(self): 
        grade = None
        if self.get_average() > 90:
            grade = 'A'
        else:
            grade = 'F'

        return grade

    def __str__(self): 
        return "{}\t{}\t{}\t".format(self.name, self.get_sum(), self.get_average())

In [94]:
students = [
    Student("윤인성", 87, 98, 88, 95), 
    Student("Evan", 50, 20, 15, 40), 
    Student("윤인성1", 100, 98, 88, 95), 
    Student("Evan1", 100, 20, 15, 40), 
]

In [100]:
for i in range(0, len(students)):
    print(students[i].name, students[i].get_grade(), students[i].get_sum(), students[i].get_average())

윤인성 A 368 92.0
Evan F 125 31.25
윤인성1 A 381 95.25
Evan1 F 175 43.75

In [95]:
students[1].get_grade(), students[1].get_sum(), students[1].get_average()

('F', 125, 31.25)

In [96]:
students[2].get_grade(), students[2].get_sum(), students[2].get_average()

('A', 381, 95.25)

In [97]:
students[3].get_grade(), students[3].get_sum(), students[3].get_average()

('F', 175, 43.75)

## 인스턴스 확인
- isinstance(인스턴스, 클래스)

In [101]:
class Student:
    def __init__(self):
        pass 

student = Student()
isinstance(student, Student)

True

In [103]:
isinstance(student, Calculator)

True

In [104]:
# 상속 문법
class Human:
    def __init__(self):
        pass 

class Student(Human):
    def __init__(self):
        pass

## 상속 문법 확인
- page 497

In [ ]:
class Parent:
    pass

class Child(Parent):
    def __init__(self):
        super().__init__()