## 리스트와 튜플
- 리스트 선언 후, 인덱싱 & 슬라이싱

In [2]:
list_a = [273, 32, 'A', True, [1, 2, 3]]
list_a[0]

273

In [3]:
list_a[1]

32

In [4]:
list_a[2] # 인덱싱

'A'

In [5]:
list_a[0:3] # 슬라이싱

[273, 32, 'A']

In [8]:
list_a = [273, 32, 'A', True, [1, 2, 3]]
list_a[4][1]

2

In [11]:
list_a[-1][0]

1

In [13]:
list_a = [273, 32, 'A', True, [1, 2, 3]]
list_a[5]

IndexError: list index out of range

In [14]:
# p.196
list_a = [1, 2, 3]
list_b = [4, 5, 6]
list_a + list_b

[1, 2, 3, 4, 5, 6]

In [15]:
list_a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [18]:
list_a + 4

TypeError: can only concatenate list (not "int") to list

In [19]:
list_a + [4]

[1, 2, 3, 4]

In [22]:
list_a + list('a')

[1, 2, 3, 'a']

In [23]:
list_a + list(4)

TypeError: 'int' object is not iterable

- 숫자는 scalar 자료형
- 문자는 sequence 자료형 (List도 sequence 자료형)

In [26]:
list_a = [273, 32, 'A', True, [1, 2, 3]]
# list_a[인덱스번호] = 새로운 값
list_a[2] = 410
list_a

[273, 32, 410, True, [1, 2, 3]]

In [27]:
len(list_a)

5

## append()와 insert()

In [32]:
list_a = [1, 2, 3]
list_a.append(4)
list_a.append("A")
list_a

[1, 2, 3, 4, 'A']

In [33]:
list_a.insert(1, 100)
list_a

[1, 100, 2, 3, 4, 'A']

In [37]:
list_a = [1, 2, 3]
list_a.append(4)
list_a.append("A")
list_a.insert(4, 100)
list_a

[1, 2, 3, 4, 100, 'A']

In [41]:
list_a = [1, 2, 3]
list_a.append(4)

## extend()
- extend() 함수는 매개변수로 리스트를 입력

In [45]:
list_a = [1, 2, 3]
list_a.extend("a")
list_a

[1, 2, 3, 'a']

In [47]:
list_a = [1, 2, 3]
list_a.extend([4, 5, 6])
list_a

[1, 2, 3, 4, 5, 6]

In [46]:
list_a = [1, 2, 3]
list_a.extend(5)
list_a

TypeError: 'int' object is not iterable

## 인덱스로 제거하기: del 키워드, pop() 키워드

In [48]:
list_a = ["a", "b", "c", "d"]
del list_a[0]
list_a

['b', 'c', 'd']

In [56]:
list_a = ["a", "b", "c", "d"]
list_a.pop(3)
list_a

['a', 'b', 'c']

In [57]:
list_a = ["a", "b", "c", "d"]
del list_a[0:2]
list_a

['c', 'd']

## 값으로 제거하기: remove() 
- 인덱스 번호가 아닌 실제 값을 의미한다.

In [59]:
list_a = ["a", "b", "c", "d"]
list_a.remove("a")
list_a

['b', 'c', 'd']

In [60]:
list_a = ["a", "b", "c", "d"]
list_a.remove(1)
list_a

ValueError: list.remove(x): x not in list

In [62]:
list_a = ["a", "b", "a", "c", "d"]
list_a.remove("a")
list_a.remove("a")
list_a

['b', 'c', 'd']

## 모두 제거하기

In [63]:
list_a = ["a", "b", "a", "c", "d"]
list_a.clear()
list_a

[]

## 리스트 정렬하기 : sort()

In [66]:
list_a = [52, 273, 103, 32]
list_a.sort()
list_a

[32, 52, 103, 273]

In [68]:
list_a.sort(reverse=True)
list_a

[273, 103, 52, 32]

## 리스트 내부에 있는지 확인하기 : in/not in 연산자
- 문자열과 비슷

In [69]:
"a" in "abc"

True

In [72]:
273 in [52, 273, 103, 32]

True

## 튜플 (p.317)
- 리스트와 비슷한 자료형
- 인덱싱, 슬라이싱 모두 가능

In [74]:
tuple_test = (10, 20, 30, 40, 50, 60)
tuple_test

(10, 20, 30, 40, 50, 60)

In [75]:
tuple_test[0]

10

In [77]:
tuple_test[1]

20

In [78]:
tuple_test[2]

30

In [80]:
list_a[0] = 100

[100, 103, 52, 32]

In [82]:
tuple_test[0] = 100

TypeError: 'tuple' object does not support item assignment

In [83]:
del list_a[0]
list_a

[103, 52, 32]

In [84]:
del tuple_test[0]

TypeError: 'tuple' object doesn't support item deletion

## 딕셔너리 
- Web관련 자료형 중에서 JSON 형태와 유사
- pandas 데이터프레임을 만들 때도 매우 자주 사용
- 사전식 구성 연상
    + 키워드 입력 ==> 다양한 의미
    + Love, 동사, 명사 등등등

In [85]:
dict_a = {
    "name" : "어벤져스 엔드게임", 
    "type" : "히어로 무비", 
    "director" : ["안소니 루소", "조 루소"], 
    "year" : 2019
}

dict_a

{'name': '어벤져스 엔드게임',
 'type': '히어로 무비',
 'director': ['안소니 루소', '조 루소'],
 'year': 2019}

In [90]:
# 딕셔너리 ==> 리스트 ==> 문자열로 자료형이 막 바뀌더라!! 
dict_a['director'][0][0:3]

'안소니'

In [99]:
a = dict_a['director']
a.append("a")
a

['안소니 루소', '조 루소', 'a', 'a', 'a']

In [101]:
dict_a['director'].append("a")
dict_a['director']

['안소니 루소', '조 루소', 'a', 'a', 'a', 'a', 'a', 'a']

In [104]:
dict_a["director"]

['안소니 루소', '조 루소', 'a', 'a', 'a', 'a', 'a', 'a']

In [105]:
# key 설정 시, 무조건 따옴표 사용
dict_key = {
    name : "7D 건조 망고", 
}

NameError: name 'name' is not defined

In [107]:
# key 설정 시, 무조건 따옴표 사용
dict_key = {
    'name' : "7D 건조 망고", 
}
dict_key

{'name': '7D 건조 망고'}

In [111]:
dict_key['새로운키'] = "새로운값"
dict_key['price'] = [1, 2, 3, 4, 5]
dict_key['새로운딕셔너리'] = {'a': 1, 'b':[1, 2, 3]}
dict_key

{'name': '7D 건조 망고',
 '새로운키': '새로운값',
 'price': [1, 2, 3, 4, 5],
 '새로운딕셔너리': {'a': 1, 'b': [1, 2, 3]}}

In [112]:
del dict_key['새로운딕셔너리']
dict_key

{'name': '7D 건조 망고', '새로운키': '새로운값', 'price': [1, 2, 3, 4, 5]}

In [119]:
temp = list(dict_key.keys())
temp.append('가격')
temp

['name', '새로운키', 'price', '가격']

In [120]:
dict_key.values().append('aaa')

AttributeError: 'dict_values' object has no attribute 'append'

In [115]:
dict_key.items()

dict_items([('name', '7D 건조 망고'), ('새로운키', '새로운값'), ('price', [1, 2, 3, 4, 5])])

## 조건문
- 00 조건을 만족한다 ==> True
    + 그러면, 우리가 옷을 사야지!!
- 00 조건을 만족하지 못함 ==> False
    + 남의 옷을 얻어 입어야지
- if-else

In [122]:
a = 1
if a > 1: # <--- 해당되는 조건식을 만드는 것이 핵심
    print("1보다 큼")
else:
    print("1보다 작음")

1보다 작음

In [123]:
# p.163
if True:
    print("True 입니다!")

True 입니다!

In [124]:
if False:
    print("True 입니다!")

In [128]:
number = input("정수 입력해주세요!!!")
number = int(number)

# 양수 조건
if number > 0:
    print("양수")

# 음수 조건
if number < 0:
    print("음수")

# 0 조건
if number == 0:
    print("0이다")

정수 입력해주세요!!! 0

0이다

시나리오
- 여러분의 돈이 00 있음
- 파이브가이즈 햄버거 세트 가격이 35000원 이라고 함
- 햄버거 먹을 수 있는 상황/그렇지 못한 상황에 대해서 프로그래밍 하세요!

In [130]:
money = int(input("돈 입력"))
PRICE = 35000 
if money >= PRICE:
    print("맛있게 먹자")
else:
    print("공부나 하자")

돈 입력 40000

맛있게 먹자

## 날짜/시간 활용하기
- datetime (파이썬 기본 라이브러리)
  + 공식문서 : https://docs.python.org/3/library/datetime.html
- pandas to_datetime : https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html

In [133]:
import datetime 

# 현재 날짜/시간 구하기
now = datetime.datetime.now()
now

datetime.datetime(2024, 6, 27, 14, 38, 55, 401515)

In [135]:
print(now.month, "월")

6 년

In [138]:
print(f'{now.year}년 {now.month}월 {now.day}일')

2024년 6월 27일

## if-else와 elif 구문

In [146]:
import datetime 

# 현재 날짜와 시간 구하기
# 월 추출해서 현재 계절 확인
now = datetime.datetime.now()
# month = now.month
month = 100

print(type(month), month)

if 3 <= month <= 5:
    print("봄")
elif 6 <= month <= 8:
    print("여름")
elif 9 <= month <= 11:
    print("가을")
else:
    print("겨울")

<class 'int'> 100
겨울

In [149]:
num = int(input("숫자를 입력하세요"))

if num > 0:
    # 코드 디테일하게 작성
    num2 = num
    pass
else:
    pass

print("완료")

숫자를 입력하세요 100

완료

In [151]:
num = int(input("숫자를 입력하세요"))

if num > 0:
    # 코드 디테일하게 작성
    raise NotImplementedError
else:
    raise NotImplementedError

print("완료")

숫자를 입력하세요 0

NotImplementedError:

## for 반복문
- p.207
- 몇번을 반복해야 하는지 사용자가 기정

In [153]:
for i in range(3): # 처음에 범위 지정 할 때, 3번 정도 확인 후 ==> 확장
    print("출력")

출력
출력
출력

In [152]:
print("출력")
print("출력")

출력
출력

## while 반복문
- 조건식이 참이면 계속 수행함
- 예) 게임 (자동사냥)
  + 자동사냥 버튼 ==> True

In [154]:
# p.209 
array = [273, 32, 103, 57, 52]

for element in array:
    print(element)

273
32
103
57
52

In [155]:
# p.209 
text = "abc"

for element in text:
    print(element)

a
b
c

In [156]:
# p.209 
number = 123

for element in number:
    print(element)

TypeError: 'int' object is not iterable

## 문제
- 반복문을 쓰고 싶음. 근데 iterable 가능하다고 함.
- 문제 : 자료형이 iterable인지 아닌지 알고 싶음. 그래서 iterable이면 반복문 수행 하도록 if-조건문 만들기
    + chatGPT에게 함수 물어보세요!!

In [179]:
from collections.abc import Sequence, Iterable

def is_iterable(obj):
    return isinstance(obj, Iterable)

# Test cases
print(is_iterable([1, 2, 3]))       # Output: True (list)
print(is_iterable((1, 2, 3)))       # Output: True (tuple)
print(is_iterable('hello'))         # Output: True (string)
print(is_iterable({1, 2, 3}))       # Output: False (set)
print(is_iterable({'a': 1, 'b': 2})) # Output: False (dictionary)
print(is_iterable(123))             # Output: False (integer)
print(is_iterable(3.14))            # Output: False (float)

True
True
True
True
True
False
False

In [180]:
test = dict_key.values()
print(is_iterable(test))

for element in test:
    print(element)

True
7D 건조 망고
새로운값
[1, 2, 3, 4, 5]

In [170]:
list_of_list = [[1, 2, 3], [4, 5, 6, 7], [8, 9]]
list_of_list

for items in list_of_list:
    print(items)

[1, 2, 3]
[4, 5, 6, 7]
[8, 9]

In [181]:
num1 = [2, 3, 4, 5, 6, 7, 8, 9]
num2 = [1, 2, 3, 4, 5, 6, 7, 8, 9]

for a in num1:
    # print(a)
    pass
    for b in num2:
        # print(a, b, a*b)
        pass

## 리스트 컴프리헨션
- pythonic한 코드
- 반복문을 한줄로 처리
- 결괏값은 리스트로 반환

In [185]:
a = [1, 2, 3, 4]
result = []
for num in a:
    print(num * 3)
    result.append(num * 3)

result

3
6
9
12

[3, 6, 9, 12]

In [186]:
b = [1, 2, 3, 4]
result2 = [num * 3 for num in b]
result2

[3, 6, 9, 12]

In [193]:
num1 = [1, 2, 3, 4]
num2 = [10, 20, 30, 40]
result = []
for n1, n2 in zip(num1, num2):
    # print(n1, n2, n1 * n2)
    result.append(n1 * n2)
result

[10, 40, 90, 160]

In [195]:
num1 = [1, 2, 3, 4]
num2 = [10, 20, 30, 40]

result4 = [num1[0] * num2[0], num1[1] * num2[1]]
result4

[10, 40]

In [192]:
result3 = [n1 * n2 for n1, n2 in zip(num1, num2)]
result3

[10, 40, 90, 160]

In [3]:
import seaborn as sns
from seaborn import seaborn

ImportError: cannot import name 'seaborn' from 'seaborn' (C:\Users\pcuser\Desktop\han-toss\venv\Lib\site-packages\seaborn\__init__.py)